body {
  padding: 10px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 50%;
}

h3 {
  margin: 10px 0px 20px 10px;
}

h6 {
  margin-left: 15px;
  margin-bottom: 10px;
}

.user {
  box-shadow: 2px 2px #888888;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user:hover {
  box-shadow: none;
  background-color: #007bff;
  color: white;
  transition: all 0.8s;
  cursor: pointer;
}

#search-area {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
